html {
  --body-text-color: #373D3F;

  /* Color palette generated via paletton.com */

  /* Primary Colors */
  --primary-color: #1049A9;
  --primary-color-shade-1: #0C3883;
  --primary-color-shade-2: #072A67;
  --primary-color-tint-1: #3461AE;
  --primary-color-tint-2: #557CBF;
  --primary-color-lightest-tint-2: #CFDDF5;
  /* Secondary Colors */
  --secondary-color-a: #3216B0;
  --secondary-color-a-shade-1: #261088;
  --secondary-color-a-shade-2: #1B0A6B;
  --secondary-color-a-tint-1: #503AB5;
  --secondary-color-a-tint-2: #6E5BC4;
  
  --secondary-color-b: #FFCE00;
  --secondary-color-b-shade-1: #C59F00;
  --secondary-color-b-shade-2: #9B7D00;
  --secondary-color-b-tint-1: #FFD939;
  --secondary-color-b-tint-2: #FFE164;
  --secondary-color-b-lightest-tint-2: #FFFAE6;
  /* Tertiary Colors */
  --tertiary-color: #FFA400;
  --tertiary-color-shade-1: #C57F00;
  --tertiary-color-shade-2: #9B6300;
  --tertiary-color-tint-1: #FFB839;
  --tertiary-color-tint-2: #FFC763;
}

body {
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  color: var(--body-text-color);
}

#container {
  width: 800px;
  margin: auto;
}

main {
  width: 800px;
  margin-top: 3em;
}

.logo {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
}

header {
  width: -webkit-max-content;
  width: -moz-max-content;
}

header h1 {
  width: -webkit-max-content;
  width: -moz-max-content;
  margin-bottom: 0;
  padding: 0.1em;
  border: thin solid var(--primary-color);
  color: var(--primary-color-shade-2);
}

header p {
  margin-top: 0.5em;
  color: var(--primary-color-shade-1);
}

h2 {
  color: var(--body-text-color);
}

.heading-underline {
  color: var(--secondary-color-b);
  text-decoration: underline;
}

p {
  line-height: 1.6em;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--secondary-color-a-shade-1);
}

p > a {
  color: var(--secondary-color-b-shade-2);
  font-weight: bold;
}

p > a:hover {
  text-decoration: underline;
}

.welcome {
  padding: 2em;
  background-color: var(--primary-color-lightest-tint-2);
  color: var(--primary-color-shade-2);
}

.welcome > h2 {
  border: none;
}

.post-snippet {
  display: block;
  color: var(--body-text-color);
  margin-bottom: 2em;
}

.post-snippet:hover {
  text-decoration: underline;
}

.post-snippet > article {
  padding: 1em;
  border: thin solid var(--body-text-color);
}

.date {
  margin-top: 0;
  font-size: 0.8em;
}

.full-post h2 {
  margin-bottom: 0;
}

img {
  width: 100%;
}

footer {
  margin-top: 2em;
  padding: 2em;
  background-color: var(--primary-color-lightest-tint-2);
}

footer a {
  color: var(--primary-color-shade-2);
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 840px) {
  #container {
    width: 100%;
  }

  header {
    margin-left: 1.34em;
  }

  main {
    width: 100%;
    margin: 0;
  }

  .full-post {
    padding: 1em;
  }

  .post-snippet > article {
    border: none;
  }

  .recent-posts {
    margin-left: 0.67em;
  }
}
