{% extends "base.html.jinja2" %}
{% block main %}
<article class="full-post">
  <div class="heading-underline">
    <h2>tfhe's Analytics Gathering</h2>
  </div>
  <p>
    This blog uses <a href="https://usefathom.com">Fathom</a> for site analytics. It's self-hosted, which means the
    data doesn't leave the server that the website is hosted on (which I personally own). It's also privacy-centric;
    I don't know anything other than the number of users that visited the blog on a given hour of the day. Here's
    what the dashboard looks like as I'm writing this (I know, impressive, right?):
  </p>
  <img src="/static/images/fathom_dash.png">
  <p>
    That's it, that's all I get. No IP addresses, location data, or device information.
    <a href="https://usefathom.com/data/">See here</a> for a discussion of Fathom's data policy, specifically as it
    relates to the EU's General Data Protection Regulation (GDPR). Plus, if you have the "Do Not Track" setting
    turned on in your browser, Fathom doesn't record <em>anything</em>. Seriously, look at the "trackPageview" function
    in <a target="_blank" href="https://fathom.shanemoore.me/tracker.js">fathom.shanemoore.me/tracker.js</a>.
  </p>
</article>
{% endblock %}