{% extends "base.html.jinja2" %}
{% block main %}
  <section class="welcome">
    <h2>Welcome to tfhe</h1>
    <p>
      This is primarily a blog about personal privacy on the Internet. My goal is to convey my understanding of best practices
      on the Internet, and reduce the burden of understanding the vast intricacies and complexities of digital media. In
      some ways, this is also a record of my slow descent into madness as I do my best to find out what it really means
      to have privacy on the Internet.
    </p>
  </section>
  <div class="heading-underline">
    <h2 class="recent-posts">Recent Posts</h2>
  </div>
  <a class="post-snippet" href="{{ url_for('post', post_slug='what_the_hell_is_a_vpn') }}">
    <article>
      <h3>What The Hell Is A VPN?</h3>
      <p class="date">Jan. 3, 2019</p>
      <p>
        Virtual Private Network. Honestly, the spelled out name might be even less useful than the initialism. What the
        hell is a virtual network? I guess privacy is good, right? Again, I have to be clear, I'm not a networking
        expert. I'm just a person that makes stuff on the Internet. Still, I'll do my best.
      </p>
    </article>
  </a>
  <a class="post-snippet" href="{{ url_for('post', post_slug='security_privacy') }}">
    <article>
      <h3>Security and Privacy</h3>
      <p class="date">Jan. 3, 2019</p>
      <p>
        I can’t say with confidence what exactly this blog will become, but according to the front page, it's about
        personal privacy on the Internet. But freezing your credit, you could argue, is largely a security measure; it
        won’t do anything to keep your financial history private. And data breaches can affect both privacy and security,
        depending on the type of data being revealed. Sometimes it can be difficult to find where the line is between
        these two concepts, but in order to continue having an informed conversation about digital privacy, security, and
        even safety, I’m going to attempt to find that line.
      </p>
    </article>
  </a>
  <a class="post-snippet" href="{{ url_for('post', post_slug='sbs_freeze_your_credit') }}">
    <article>
      <h3>Step By Step: Freezing Your Credit</h3>
      <p class="date">Sept. 23, 2018</p>
      <h4>Background</h4>
      <p>
        In my previous post, I mentioned that it's now free to request a credit freeze with any credit bureau. I also
        mentioned that this is something that you should do, especially with the three big agencies: Equifax, Experian,
        and TransUnion. Innovis is another company that is starting to gain some notoriety, so it's probably worth doing
        that as well. Today I actually sat down and did this; it took about 20 minutes and was surprisingly painless. 
      </p>
    </article>
  </a>
  <a class="post-snippet" href="{{ url_for('post', post_slug='burden_of_understanding') }}">
    <article>
      <h3>The Burden of Understanding</h3>
      <p class="date">Sept. 21, 2018</p>
      <h4>Prologue</h4>
      <p>
        I started this blog because of my cousins. Every family holiday, I get a chance to sit down with my brilliant,
        successful cousins and their equally impressive significant others. We talk about important news stories,
        politics, global affairs; the list goes on mostly how you'd expect. Perhaps inevitably, given that I work at one
        of the largest Internet companies in the world, the conversation often steers to the Internet. "So, Shane,"
        they'll ask, "no more Gmail, huh?" And so we dive into a deep conversation about data, privacy, security, social
        networking and social engineering. The conversation usually lasts the full train ride back to the city, only to
        be paused and continued at the next holiday.
      </p>
    </article>
  </a>
{% endblock %}
