{% extends "base.html.jinja2" %}
{% block main %}
  <article class="full-post">
    <div class="heading-underline">
      <h2>The Implications of Social Media</h2>
      <h3>Part 1: The Social Network</h3>
    </div>
    <p class="date">Aug. 17, 2019</p>
    <section id="dawn-of-social-networking">
      <h3>The Dawn of Social Networking</h3>
      <p>In March 2004, what had initially been a digital social network for Harvard University students began expanding to colleges across the country. Then, in late 2005, it became available to high schoolers, and then several companies, including Apple and Microsoft. In late 2006, facebook.com opened its virtual doors to the entire world. A year and a half later, it was the largest social networking site in the world.</p>
      <p>Facebook wasn't alone. Twitter had launched publically just three months earlier, and YouTube, launched in 2005, had just been purchased by Google. Reddit, now the 5th most visited site in the United States, had just been purchased by Conde Nast; the owner of Vogue, Pitchfork, GQ, The New Yorker, and others. LinkedIn had already been around for 3 years. MySpace, though now mostly gone, was the most visited website in the United States.</p>
      <p>This was, by many accounts, a revolution. When reading about the World Wide Web, it's common to see references to distinct eras of Web 1.0 and Web 2.0. Web 1.0 refers to the state of the Web in the 90s and early 2000s, when the majority of Internet users were content consumers, and only technologically proficient users could actually create content. But the appearance and subsequent mass adoption of social media websites marked the beginning of something new. This was Web 2.0. This was the beginning of the Web as it exists today: a massive ecosystem of social media, content sharing sites, web apps, and cloud services. Depending on who you ask, this was either a fundamental shift in the spirit and experience of the Web, or it was a natural and unsurprising evolution of what had come before. So which is it?</p>
    </section>
    <section id="follow-the-money">
      <h3>Follow The Money</h3>
      <p>While doing research for this piece, I found a relevant Federal Trade Commission complaint. Here's one of the key quotes:</p>
      <blockquote>
        ... respondent has disclosed the "optional" information it collects through the New Member Application form to third parties without the consumer's permission, and for purposes other than to gain a better understanding of who is visiting [the respondent's site]. Respondent hase disclosed this information, including information collected from children, to third parties who have used this information to target advertising to [its] members.
      </blockquote>
      <p>In an age of digital-corporate-surveillance-as-the-norm, that accusation might sound familiar. Tired, even. What might be surprising, however, is that this complaint <em>isn't from</em> the age of digital corporate surveillance. It's from 1999. It wasn't filed against a modern Internet giant, it was filed against GeoCities, a web-hosting service that was shuttered in 2009. GeoCities was one of the behemoths of the dot-com age, an icon of "Web 1.0". The site had 1.8 million registered users at a time when only 250 million people had access to the Internet. Web 2.0 killed it.</p>
      <p>And yet, GeoCities was caught conducting behavior that has a distinctly "Web 2.0" flavor. When a user signed up for GeoCities, they were presented with a demographics questionaire. They were asked about their gender and age, where they lived and other personally identifying information. That information was then sold by GeoCities, without their users' knowledge or permission, to advertisers. The FTC decided that this was capital-B Bad, and ordered GeoCities to notify users of how their data would be used, and allow them to delete it off of GeoCities' servers.</p>
      <p>There are two key lessons to learn from the GeoCities case. The first is that rampant abuse of personal information obtained by Internet companies is nothing new. By all accounts it's been around for as long as there have been companies on the World Wide Web with the know-how to do it. This probably isn't a shock; advertisers will pay top dollar for personally identifying information of potential customers, and companies exist to make money. But there's also a second, more interesting lesson. People are far more comfortable typing personal information into computers than they are providing it face-to-face. The rest of this piece will consist of my attempt to explain this exact phenomenon, how it's taken advantage of in order to take advantage of consumers, and why that matters.</p>
    </section>
    <section id="thought-experiments">
      <h3>Some Thought Experiments</h3>
      <p>If you'll bear with me, I'd like to take a smalll detour, in an attempt to suss out exactly why this propensity for handing out personal information willy nilly is such a problem. Let's start with the situation we're all likely to reject.</p>
      <p>You're walking down the street, and a complete stranger is running a lemonade stand. It's a hot day, you're still a few minutes from your destination, so you head over to the stand. As you approach, the stranger says, "Lemonade is free today, you'll just need to write down your name and social security number here." I imagine that, for everyone reading this, that's as far as the story goes. Giving away your social security number is a no-no, online and in person, and everyone knows it. Let's try something a little less black-and-white.</p>
      <p>You're at a store, buying a sweater, and the cashier tells you that if you fill out a quick form, you can get your sweater for 20% off. You're in no rush, and this sweater <em>is</em> a little expensive, so you agree and take a look at the form. It asks for your name, date of birth, current address, and ethnicity. My guess is that the majority of people would fill out this form. It's actually extremely common practice for stores to collect exactly this information for rewards programs, which millions of people use at dozens of stores. It feels to us completely different than the first scenario, and for good reason. While it's difficult to imagine a valid reason for a stranger to want your social security number, it's easy to come up with reasons for a large company to want demographic information about its customers. And anyone who can see you can guess your age and ethnicity. Plus, you give out your name and phone number all of the time to people that you've just met. All of these pieces of information feel commonplace, and safe. You have, on your phone, probably hundreds of names and phone numbers, and you've never used that information insidiously.</p>
      <p>But even with the safety and legitimacy of a large company, there's still a line. What if the form asked you how many siblings you had? What town you grew up in? How many alcoholic drinks you have per week? Your GPA? SAT score? Fewer people would fill out this form. That information isn't like a social security number; your close friends might know all of it. But why does your clothing store need it? We grow suspicious when we can't think of a legitimate reason for someone to have the information that they're asking for.</p>
      <p>This is the magic of social networking services. Facebook has a legitimate reason to know every detail of your life: to share it with your friends. Your clothing store would love to ask you every single one of those questions, for the same reason it asks you for your age and address: to convince you to purchase more clothing from them. They stick to what they know they can get away with, but social media companies have no such limitations. Users readily tell Facebook their names, hometowns, schools, likes and dislikes, which news outlets they follow, and just about every single person they've ever interacted with in the real world.</p>
    </section>
    <section id="so-what">
      <h3>So What?</h3>
      <p></p>
    </section>
  </article>
{% endblock %}
 
