{% extends "base.html.jinja2" %}
{% block main %}
  <article class="full-post">
    <div class="heading-underline">
      <h2>Step By Step: Freezing Your Credit</h2>
    </div>
    <p class="date">Sept. 23, 2018</p>
    <section id="background">
      <h3>Background</h3>
      <p>
        In my previous post, <a href="/post/burden_of_understanding#breaches_are_bad">I mentioned that it's now free to request a credit freeze with any credit bureau.</a> I also mentioned that this is something that you should do, especially with the three big agencies: Equifax, Experian, and TransUnion. Innovis is another company that is starting to gain some notoriety, so it's probably worth doing that as well. Freezing your credit report means that no "hard pulls" can be made to your account, which means that no new lines of credit can be opened. If you <em>do</em> need a new line of credit, e.g. to open a new credit card, loan, or lease, you can simply call the agency that your creditor uses and request a temporary thaw. This is usually instant, and in the worst case can take up to 24 hours, so it's worth calling a day in advance. The advantage is that without your PIN, no one else can open a line of credit in your name, which dramatically reduces the chance of identity theft. Today I actually sat down and did this; it took about 20 minutes and was surprisingly painless. 
      </p>
    </section>
    <section id="do_the_thing">
      <h3>Step 1: Do The Thing</h3>
      <p>
        There are slight variances in how each company handles this process, so we'll go through each one at a time.
      </p>
      <h4>Equifax</h4>
      <p>
        If you go to Equifax's website, you'll be given the impression that the easiest way to freeze your credit with them is to sign up for an online account. This, firstly, is patently false. Their automated phone system has substantially fewer questions and is perfectly easy to use. Secondly, the Terms of Use for the account are concerning, especially given that this company was recently responsible for putting more than half of adult Americans at risk of identity fraud. They include lines like: "You authorize and instruct Us to obtain, monitor, and compile Your: (i) credit information from EIS; (ii) "non-public personal information", "personal information", and/or "highly restricted personal information" about or concerning You as defined by the Gramm-Leach-Bliley Act (15 U.S.C. sec 6801 et seq); and (iii) other personal information." I'm sure I've already unwittingly signed something in my life that gave them this permission anyway, but since I'm being given the opportunity to say no, I will.
      </p>
      <p>
        Instead, I called their customer service line at <a href="tel:800-685-1111">800-685-1111</a>. Before doing so, have something out to record the PIN that you'll recieve. <em>You must not lose this PIN.</em> It's possible to recover access to your account without the PIN, but the process is a pain. With a pen and paper (or your notes app) ready, call the number, press "3" for credit freeze, and answer the questions.
      </p>
      <h4>Experian</h4>
      <p>
        <a href="https://www.experian.com/ncaconline/freeze">Experian's website</a> has a similar form for entering information to verify your identity for freezing your credit. The terms and conditions don't seem to imply that an account is being made, and I actually used this online form for Experian. If you're feeling less trusting than I was, you can absolutely also call their customer service number and freeze your credit that way. Experian gives you the option to specify a PIN or have them provide one for you; I recommend allowing them to provide you with a PIN and writing down a copy of it.
      </p>
      <h4>TransUnion</h4>
      <p>
        TransUnion was the only call I made that didn't go perfectly smoothly. As with Equifax, I avoided making an account for their app/website and opted to call their customer service number, <a href="tel:800-680-7289">800-680-7289</a>. Initially, the automated service was even easier to use than Equifax's, but for some reason after the final step where I created a PIN, I was put on hold to speak to a customer service representative, where I went through the entire process again with a person. I don't know what triggered this, or if there's a bug in their automated phone service, but be prepared for this to happen, I suppose.
      </p>
      <h4>Innovis</h4>
      <p>
        Like Experian, Innovis has <a href="https://www.innovis.com/securityFreeze/index">a very simple form on their website for requesting a credit freeze.</a> They don't provide your PIN up front, and instead say that it will be mailed to you shortly (as far as I can tell, all of the bureaus will mail you a confirmation of your freeze to your current address with your PIN).
      </p>
    </section>
    <section id="store_your_pins">
      <h3>Step 2: Store Your PINs</h3>
      <p>
        Hopefully you've been recording your PINs as you go. If you requested a freeze from Innovis, or, like me, ended up speaking to a customer service rep at TransUnion, your PINs should be arriving in the mail in the next few weeks. For the PINs that you have now, <em>put them in your password manager</em>. If you don't have a password manager, you should get a password manager! Until then, write down your PINs on a piece of paper and put them in a firesafe box (if you don't have one of those, buy one on Amazon now!). As you receive your PINs in the mail from various agencies, put them in your firesafe box as well.
      </p>
    </section>
  </article>
{% endblock %}
